.clear { clear: both; }

html { 
	font-size: 1em;
}

iframe {
   overflow: hidden;
}

a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

body {
	margin: 0 auto;
}

.block {
	color: white;
	background-color: white;
	display: inline-block;
}

.visibleBlock {
	color: black;
	background-color: white;
	display: inline-block;
}

.space{
	color: white;
	opacity: 0;
	display: inline-block;
}

.break{
}

div {
	position: relative;
}

input {
	font-size: 24px;
	background-color: black;
	color: white;
}

select {
	background-color: black;
	color: white;
	font-size: 20px;
}
	
#displaySpace{
	background-color: transparent;
	font-size: 2em;
	font-family: "Courier", monospace;
	color: black;
	overflow: hidden;
	width: 100%;
	height: 100%;
	resize: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: moz-none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}	

#splash{
	background-color: transparent;
	font-family: "Courier", monospace;
	color: white;
	overflow: hidden;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	resize: none;
	position: absolute;
}

#splashTitle{
	font-size: 9em;
	text-align: center;
	top: 35%;
}
#splashInfo{
	font-size: 2em;
	text-align: center;
	top: 37%;
}

#innerSplashTitle{
	display: inline-block;
}
#innerSplashInfo{
	display: inline-block;
}

#underlay{
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: black;
}

#menuDisplay {
	position: fixed; 
	width: 100%; 
	height: 100%; 
	top: 0%; 
	left: 0%;
	background-color: white; 
	color: black;
	font-size: 3em;
	font-family: "Courier", monospace;
	opacity: 1; 
	cursor: default;
}

#titleContainer{
	font-size: 1em;
	text-align: center;
	padding-top: 5%;
}

#hotKeysContainer {
	font-size: 20px;
	margin: 0px auto;
	margin-top: 1.5%;
	margin-bottom: 1.5%;
	width: 80%;
}

.hotKey{
	margin: 5px;
}

.keyLabel{
	background-color:black;
	color: white;
}

.settings{

}

#settingsContainer{
	margin: 0px auto;
	margin-top: 1.5%;
	margin-bottom: 1.5%;
	width: 80%;
	background-color: white;
	color: black;
	font-size: 20px;
}

#aboutContainer{
	margin: 0px auto;
	margin-top: 1.5%;
	margin-bottom: 1.5%;
	width: 80%;
	background-color: white;
	color: black;
	font-size: 20px;
}

#aboutLabel{
	background-color: white;
	color: black;
	font-weight: bold;
	font-size: 30px;
}

#settingsLabel{
	background-color: white;
	color: black;
	font-weight: bold;
	font-size: 30px;
}

#hotKeysLabel{
	background-color: white;
	color: black;
	font-weight: bold;
	font-size: 30px;
}

#hotKeysLeft{
	float: left;
	margin: 0;
	width: 50%;
}
#hotKeysRight{
	float: left;
	margin: 0;
	width: 50%;
}


#wordTargetInput{
	width: 60px;
	font-size: 20px;
}

#wordTargetContainer {

}
#wordTargetColorContainer {

}
#wordTargetSoundContainer {

}

.colorPicker {
	width: 20px;
	height: 20px;
	border: 1px solid black;
	font-size: 20px;
	display: inline-block;
}


#obliqueStrategyDisplay {
	position: fixed; 
	text-align: center;
	width: 50%; 
	height: 100%; 
	top: 47%; 
	left: 23%;
	background-color: white; 
	color: black;
	font-size: 24px;
	font-family: "Courier", monospace;
	opacity: 1; 
	cursor: default; 
}

#sonnetDisplay {
	position: fixed; 
	text-align: center;
	width: 50%; 
	height: 100%; 
	top: 47%; 
	left: 23%;
	background-color: white; 
	color: black;
	font-size: 24px;
	font-family: "Courier", monospace;
	opacity: 1; 
	cursor: default; 
}

#dictionaryDisplay {
	position: fixed; 
	text-align: center;
	width: 50%; 
	height: 100%; 
	top: 45%; 
	left: 23%;
	background-color: white; 
	color: black;
	font-size: 3em;
	font-family: "Courier", monospace;
	opacity: 1; 
	cursor: default; 
}

#definitionDisplay {
	font-size: .5em;
}

#forwardButton {
	position: fixed;
	width: auto;
	height: auto;
	right: 15%;
	top: 46%;
	opacity: .5;
}

#backButton {
	position: fixed;
	width: auto;
	height: auto;
	left: 12%;
	top: 46%;
	opacity: .5;
}

#timerDisplay{
	position: fixed; 
	width: 100%; 
	height: 100%; 
	top: 46%; 
	left: 0%;
	background-color: white; 
	color: black;
	font-size: 24px;
	font-family: "Courier", monospace;
	opacity: 1; 
	cursor: default;
	resize: none;	
}

#timerContainer{
	padding-top: .5%;
	padding-bottom: 1%;
	width: 100%;
	text-align: center;
}

#timerShow{
	resize: none;
	background-color: black;
	color: white;
	border-style: none; 
	display: inline-block;
}

#timerStartButtonContainer{
	width: 100%;
	text-align: center;
}

#timerStartButton{
	display: inline-block;
	border: 2px solid black;
	text-align: center;
	padding-left: .3%;
	padding-right: .3%;
	font-size: .75em;
	cursor: pointer;
}

#timerStartButton:hover{
	background-color: black;
	color: white;
}

#timerInput{
	resize: none;
	background-color: black;
	color: white;
	border-style: none; 
}

#menuDisplay {
}

#youtubeDisplay {
	top: 30%;
	left: 30%;
}

#imageDisplay {
	position: fixed; 
	width: 100%; 
	height: 100%; 
	top: 45%; 
	left: 25%;
	background-color: white; 
	color: black;
	font-size: 3em;
	font-family: "Courier", monospace;
	opacity: 1; 
	cursor: default; 
}

#emailDisplay {
	position: fixed; 
	width: 100%; 
	height: 100%; 
	top: 40%; 
	left: 0%;
	background-color: white; 
	color: black;
	font-size: 24px;
	font-family: "Courier", monospace;
	opacity: 1; 
	cursor: default;
	resize: none;	
}

#processEmailTitle{
	resize: none;
	background-color: black;
	color: white;
	border-style: none; 
}

#processEmailAddress{
	resize: none;
	background-color: black;
	color: white;
	border-style: none; 
}

#titleDisplay{
	width: 100%;
	text-align: center;
}
#addressDisplay{
	padding-top: .5%;
	padding-bottom: 1%;
	width: 100%;
	text-align: center;
}

#sendDisplay{
	width: 100%;
	text-align: center;
}

#copyDisplay{
	width: 100%;
	text-align: center;
	padding-top: 1%;
}

#viewDisplay{
	width: 100%;
	text-align: center;
	padding-top: 1%;
}

#saveDisplay{
	width: 100%;
	text-align: center;
	padding-top: 1%;
}

#messageDisplay{
	width: 100%;
	text-align: center;
	padding-top: 1%;
	font-size: 35px;
}

#message{
	display: inline-block;
	text-align: center;
	font-size: .45em;
}

#invisibleTextHolder{
	display: none;
}

#innerTitle{
	display: inline-block;
}
#innerAddress{
	display: inline-block;
}

#sendButton{
	display: inline-block;
	border: 2px solid black;
	text-align: center;
	padding-left: .3%;
	padding-right: .3%;
	font-size: .75em;
	cursor: pointer;
}

#sendButton:hover{ 
	background-color: black;
	color: white;
}

#copyButton{
	display: inline-block;
	border: 2px solid black;
	text-align: center;
	padding-left: .3%;
	padding-right: .3%;
	font-size: .75em;
}

#copyButton:link, #copyButton.link{ 
	background-color: white;
	color: black;
}

#copyButton:hover, #copyButton.hover{ 
	background-color: black;
	color: white;
}

#viewButton{
	display: inline-block;
	border: 2px solid black;
	text-align: center;
	padding-left: .3%;
	padding-right: .3%;
	font-size: .75em;
}

#viewButton:link, #viewButton.link{ 
	background-color: white;
	color: black;
}

#viewButton:hover, #viewButton.hover{ 
	background-color: black;
	color: white;
}

#saveButton{
	display: inline-block;
	border: 2px solid black;
	text-align: center;
	padding-left: .3%;
	padding-right: .3%;
	font-size: .75em;
}

#saveButton:link, #saveButton.link{ 
	background-color: white;
	color: black;
}

#saveButton:hover, #saveButton.hover{ 
	background-color: black;
	color: white;
}

#obliqueContainer {
	display: none; 
	position: fixed; 
	width: 100%; 
	height: 100%; 
	top: 0; 
	left: 0; 
	background-color: white; 
	color: black;
	opacity: 1; 
	cursor: default; 
}
	
#bg {
	width: 100%;
	height: 100%;
	background-color: black;
	padding: 0;
	margin: 0;
	}
	
#gradientDiv {
	width: 100%;
	height: 100%;
	background-color: LightSkyBlue;
	top: 0;
	left: 0;
	opacity: 0;
	display: block;
	}	
	
#processorDisplay {
	position: fixed;
	overflow: hidden;
	top: 6%;
	left: 7%;
	width: 84.5%;
	height: 88%;
	}	
	
#menuDiv {
	display: none; 
	position: fixed; 
	width: 100%; 
	height: 100%; 
	top: 0; 
	left: 0; 
	background-color: white; 
	color: black;
	opacity: 1; 
	cursor: default; 
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	-o-user-select: none;
	user-select: none;
}

#popHolder {
	position: fixed; 
	width: 100%; 
	height: 100%; 
	top: 0; 
	left: 0; 
	background-color: transparent; 
	color: black;
	opacity: 1; 
	cursor: default; 
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	-o-user-select: none;
	user-select: none;
}		

#viewText{
	background-color: black;
	color: white;
	width: 50%;
	font-size: 24px;
	left: 25%;
	height: 42%;
	top: 8%;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 999999999999;
		-webkit-user-select: text; /* Chrome/Safari */        
	-moz-user-select: text; /* Firefox */
	-ms-user-select: text; /* IE10+ */
	-o-user-select: text;
	user-select: text;
}

#progressPop{
	background-color: white;
	color: black;
	font-size: 26px;
	font-family: "Courier", monospace;
	width: 50%;
	left: 25%;
	top: 35%;
	overflow: hidden;
}

#popMessage{
	text-align: center;
	margin-top: 3%;
	margin-bottom: 2%;
}

.buttonContainer{
	text-align: center;
	padding-top: 2%;
}

.button{
	display: inline-block;
	border: 2px solid black;
	text-align: center;
	padding-left: .3%;
	padding-right: .3%;
	cursor: pointer;
}

#outputButton{
	margin-bottom: 3%;
}

#continueButton:hover, #continueButton.hover{ 
	background-color: black;
	color: white;
}

#outputButton:hover, #continueButton.hover{ 
	background-color: black;
	color: white;
}
	
